.container {
  background: #999;
  border: 1px dashed #666;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px rgba(204, 0, 0, 0.5);
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  padding: 15px;
}

@supports not (display: grid) {
  .container {
    columns: 1;
  }
}

@supports (display: grid) {
  .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  @media(max-width: 650px){
    .container{
        grid-template-columns: 1fr;
    }
  }

  @media(min-width: 650px) and (max-width: 1000px){
    .container{
        grid-template-columns: 1fr 1fr;
    }
  }
}